#-------------------------------------------------------------------------------
# DEG for Orange Spain
#
# HPE CMS Iberia, 2017-2018
#-------------------------------------------------------------------------------

[GENERAL]
ENABLED=TRUE
CONCURRENT_EXECUTIONS_ALLOWED=FALSE
LOG_LEVEL=INFO
LOG_PURGE_DELETE_DAYS=32
LOG_PURGE_COMPRESS_DAYS=8
[/GENERAL]

[PROCESSES]
[#SECTION_BEGIN:SYSTEM#]
[#SECTION_END#]
[#SECTION_BEGIN:SIU#]
AdminAgent:/opt/<%SIU_INSTANCE%>/bin/adminagentserver -daemonize,1,1
[#SECTION_END#]
[#SECTION_BEGIN:MANAGER#]
ConfigServer:/opt/<%SIU_INSTANCE%/bin/configserver -JVMargs /var/opt/<%SIU_INSTANCE%/ConfigServer/JVMargs.ini,1,1,2
DEG_AlarmAgent:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_AlarmAgent/JVMargs.ini,1,1,1
DEG_FSC:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_FSC/JVMargs.ini,1,1,1
DEG_NRBToolInterface:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_NRBToolInterface/JVMargs.ini,1,1,1
[#SECTION_END#]
[#SECTION_BEGIN:APP_SERVER#]
DEG_AlarmAgent_<%INDEX%>:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_AlarmAgent_<%INDEX%>/JVMargs.ini,1,1,1
DEG_APNSInterface_<%INDEX%>:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_APNSInterface_<%INDEX%>/JVMargs.ini,1,1,1
DEG_Audit_<%INDEX%>:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_Audit_<%INDEX%>/JVMargs.ini,1,1,1
DEG_DeviceInterface_<%INDEX%>:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_DeviceInterface_<%INDEX%>/JVMargs.ini,1,1,1
DEG_JobsInterface_<%INDEX%>:/opt/<%SIU_INSTANCE%>/bin/SIUJava -JVMargs /var/opt/<%SIU_INSTANCE%>/DEG_JobsInterface_<%INDEX%>/JVMargs.ini,1,1,1
[#SECTION_END#]
[/PROCESSES]

[ALARM]
DESCRIPTION=Number of running instances for process ${PROCESS} is out of range [${MIN_INSTANCES},${MAX_INSTANCES}]
ADDITIONAL_INFO=Computed value is ${RUNNING_INSTANCES}
[/ALARM]

[KPI]
DESCRIPTION=Running instances for process ${PROCESS}: ${RUNNING_INSTANCES}
ADDITIONAL_INFO=
[/KPI]
